/* h2 {color: rgb(49, 0, 114); }

h2{
    
}



h1 { color: rgb(49, 0, 114); } */

/* p { 
    border: 2px solid;
}
 */

 hr  { 
   
 }




p { 
    border: 1px solid;
}

hr {
    
    border: 2px solid;
    
}

h1 {
    background-color: black; color: azure;
width: 300px; justify-content: center; display: flex;
}





























































































