header {
  justify-content: center;
  display: flex;
   text-align: center; 
  background-color: black;
  color: aliceblue;
}

footer {
  justify-content: center;
  display: flex;
  border: 1px solid gray;
  background-color: gray;
  max-width: 1110px;

}

body {
  font-family: 'poppins', sans-serif;
}


section {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

div {
  width: 400px;
  height: 400px;
  margin: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
background-color: bisque;
  border-bottom: 2px;
border-radius: 30px;
}

/* 
.temas {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.reper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.formulas {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.geografia {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */

img {
  width: 400px;
  height: 400px;
  border-radius: 30px;
}

button {
  border-radius: 30px;
}

body {
  background-color: #5E626d;
}