body {
  color: white;
  background-color: #001736;
}

header {
  background-color:#00183e;
  display: flex;
  justify-content: space-between;
}
header figure {
  width: 20%;
  background-color:#79d7fd;
}

.headerRight {
  width: 80%;
  background-color:rgb(135, 206, 235);;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

}

section button a  {
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 10px;
  text-decoration: none;
}
nav ul li a {
  text-decoration: none;
}

nav ul li {
  list-style: none;
}
footer {
  justify-content: space-between;
  display: flex;
  border: 1px solid blue;
  flex-direction: column;
  text-align: center;
  background-color:#ffc54a;
}

body {
  font-family: 'poppins', sans-serif;
}


section {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

article {
  width: 300px;
  height: 300px;
  margin: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color:#00bbfa;
text-align: center;

}


/* .temas {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.reper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.formulas {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.geografia {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */
*/ img  {
  width: 400px;
  height: 400px;
  border-radius: 30px;
}

img:hover {
  transform: scale(1.10);
}

header img {
  width: 100px;
  height: 100px;
}




.filmes {
  height: 300px;
}



.active { 
  height: 600px;
  width: 600px;
  border-radius:30px;
}
