body {
  color: black;
  background-color: white;
}

header {
  background-color: #00183e;
  display: flex;
  justify-content: space-between;
  color: white;
}
header figure {
  width: 20%;
  background-color: black;
}

.headerRight {
  width: 80%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

section button a {
  text-decoration: none;
}

nav ul {
  display: flex;
  gap: 10px;
  text-decoration: none;
}
nav ul li a {
  text-decoration: none;
}

nav ul li {
  list-style: none;
}
footer {
  justify-content: space-between;
  display: flex;
  border: 1px solid bebebe;
  flex-direction: column;
  text-align: center;
  background-color: #bebebe;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 10px 0;
}

.comment-section {
  width: 100%;
  margin: 0 auto;
background-color: #dddd;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.comment {
  border-bottom: 1px solid #ddd;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  
}
.comment p {
  margin: 5px 0;
  
}
.comment strong {
  font-weight: bold;
  border: 1px black solid;
}

body {
  font-family: "poppins", sans-serif;
}

section {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

article {
  width: 300px;
  height: 300px;
  margin: 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: white;
  text-align: center;
}

/* .temas {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.reper {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.formulas {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.geografia {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
} */
*/ img {
  width: 400px;
  height: 400px;
  border-radius: 30px;
}

img:hover {
  transform: scale(1.1);
}

header img {
  width: 100px;
  height: 100px;
}

.filmes {
  height: 300px;
}

.active {
  height: 600px;
  width: 600px;
  border-radius: 30px;
}
